<h1>Register</h1>

<form action="/User/Registr" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="passwrod" name="password">
    <input type="submit" value="Зарегистрироваться">
</form>